{% extends "admin/index.html" %}
{% load static %}


{% block content %}
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title"><span class="fa fa-edit"></span> Edit Posting Berita</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-book"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Berita</li>
                        <li class="breadcrumb-item active" aria-current="page"> Edit Posting Berita</li>
                    </ol>
                </nav>
            </div>
        </div>
        <a class="pull-up btn btn-sm btn-outline btn-primary" href="{% url 'cemarapapua_admin:postsnews' %}"><span class="fa fa-list"></span> Berita</a>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
<div class="col-12">
    <div class="box">
       <div class="box-body">
       
           <form action="{% url 'cemarapapua_admin:updatePosts' IDPOSTS %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           
                <div class="form-group row">
                    <div class="col-md-12">
                        <span class="form-text text-muted">Judul Berita </span>
                        {{ form.posts_title }}
                        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <span class="form-text text-muted">Tulis Berita Disini</span>
                        {{ form.media }}
                        {{ form.posts_desc }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <span class="form-text text-muted">Upload Thumbnail</span>
                        {{ form.posts_img }}
                        
                    </div>
                    <div class="col-md-6">
                        <span class="form-text text-muted">Pilih Kategori Berita</span>
                        {{ form.category_id }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <span class="form-text text-muted">SEO (Keywords)</span>
                        {{ form.posts_keyword }}
                    </div>
                    <div class="col-md-6" style="padding: 20px;">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fa fa-save"></span> Simpan</button>
                    </div>
                </div>
             
           </form>
    
       </div>
     </div>      
   </div>
</div>
{%  endblock %}
