{% extends "admin/index.html" %}
{% load static %}


{% block content %}
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title"><span class="fa fa-picture-o"></span> Data Gallery</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="icon-Settings-2"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Gallery</li>
                        <li class="breadcrumb-item active" aria-current="page">Data Gallery</li>
                    </ol>
                </nav>
            </div>
        </div>
        <a href="{% url 'cemarapapua_admin:addgallery' %}" class="pull-up btn btn-sm btn-outline btn-primary" ><span class="fa fa-plus"></span> Tambah Gallery</a>
        <div style="padding-right: 10px;"></div>
        <a href="{% url 'cemarapapua_admin:album' %}" class="pull-up btn btn-sm btn-outline btn-warning" ><span class="fa fa-picture-o"></span> Buat Album Galery</a>
    
    </div>
</div>
<div class="row" style="padding-top: 10px;">
<div class="col-12">
    <div class="box">
       <!-- /.box-header -->
       <div class="box-body">
           <div class="table-responsive">
             <table id="example1" class="table table-bordered table-striped" alt="test">
               <thead>
                   <tr>
                       <th>No</th>
                       <th>Nama Gallery</th>
                       <th>Foto</th>
                       <th>Nama Album</th>
                       <th>Tanggal</th>
                       <th>Author</th>
                       <th >Link</th>
                       <th>Gallery Log</th>
                       <th>Aksi</th>
                   </tr>
               </thead>
               <tbody>
                    {% for datagallery in viewGallery %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ datagallery.gallery_name }} </td>
                            <td>{{ datagallery.gallery_img }} </td>
                            <td>{{ datagallery.album_id.album_name }} </td>
                            <td>{{ datagallery.gallery_date }} </td>
                            <td>{{ datagallery.user_id.full_name }} </td>
                            <td style="width: 10%;">{{ datagallery.gallery_link }} </td>
                            <td>
                                <center>
                                    {% if datagallery.gallery_log == 'Y' %}
                                    <span class="badge badge-primary"><span class="fa fa-check"></span> Aktif</span>
                                    {% else %}
                                    <span class="badge badge-warning"><span class="fa fa-times"></span> Tidak Aktif</span>
                                    {% endif %}
                                </center>    
                            </td>
                            <td style="text-align: center;">
                                <a href="#" class="btn btn-sm btn-outline btn-info pull-up ">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href="{% url 'cemarapapua_admin:delgallery' datagallery.gallery_id %}" class="btn btn-sm btn-outline btn-danger pull-up " onclick="return confirm('Anda yakin mau menghapus berita ini?');">
                                        <span class="fa fa-times"></span></a>
                            </td>
                    </tr>
                    {% endfor %}
               </tbody>
             </table>
           </div>
       </div>
       <!-- /.box-body -->
     </div>
     <!-- /.box -->        
   </div>
</div>

{%  endblock %}
