{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.multipurposethemes.com/admin/eduadmin-template/images/favicon.ico">
    <title>Cemara Papua - Dashboard</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'admin/css/vendors_css.css' %}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/skin_color.css' %}">
     
	<!-- FontAwesome -->
	<link rel="stylesheet" href="{% static 'frontend/css/fontawesome-all.min.css' %}">
	
  </head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
  <div id="loader"></div>
  	<!-- include file header.html -->
	{% include 'admin/header.html' %}
  	<!-- sidebar menu: include menu sidebar.html -->
	{% include 'admin/sidebar.html' %}
	<!-- content auto dinamis : include file content.html -->
	<div class="content-wrapper">
		<div class="container-full">
		  <!-- Main content -->
		  <section class="content">
				{% block content %} {% endblock %}
		</section>
			<!-- /.content -->
			</div>
		</div>
  	<!-- footer : include file footer.html-->
  	{% include 'admin/footer.html' %}



  
</div>

	<script src="{% static 'admin/js/vendors.min.js' %}"></script>
	<script src="{% static 'admin/js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'admin/icons/feather-icons/feather.min.js' %}"></script>	
	<!-- <script src="{% static 'admin/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script> -->
	<script src="{% static 'admin/js/template.js' %}"></script>
	<script src="{% static 'admin/js/pages/dashboard4.js' %}"></script>
	<script src="{% static 'admin/js/pages/data-table.js' %}"></script>
	<script src="{% static 'admin/vendor_components/datatable/datatables.min.js' %}"></script>
	<script src="{% static 'admin/vendor_components/bootstrap-markdown-master/js/bootstrap-markdown.js' %}"></script>
	<script src="{% static 'admin/vendor_components/marked/marked.js' %}"></script>
	<script src="{% static 'admin/vendor_components/to-markdown/to-markdown.js' %}"></script>
	<script src="{% static 'admin/js/ckeditor.js' %}"></script>
	

	{% block js %}
		
	{% endblock %}
</body>

</html>
