{% extends "admin/index.html" %}
{% load static %}
{% block content %}
<div class="content-header" >
    <div class="d-flex align-items-center" >
        <div class="mr-auto">
            <h3 class="page-title"><span class="fa fa-book"></span> Data Posting Berita</h3>
            <img src="https://www.dropbox.com/sh/93a5jlsv0snb7by/AAAZheKoMK7d1PRMP6awfMbFa?dl=1" alt="" class="img-responsive">
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Posting</li>
                        <li class="breadcrumb-item active" aria-current="page">Data Posting Berita</li>
                    </ol>
                </nav>
            </div>
        </div>
        <a class="pull-up btn btn-sm btn-outline btn-primary" href="{% url 'cemarapapua_admin:addPosts' %}"><span class="fa fa-plus"></span> Tambah Berita</a>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
<div class="col-12">

    <div class="box">
       <!-- /.box-header -->
       <div class="box-body">
           <div class="table-responsive">
             <table id="postsnews" class="table table-bordered table-striped" alt="test">
               <thead>
                   <tr>
                       <th>No</th>
                       <th>Judul </th>
                       <th>Tanggal</th>
                       <th>Kategori</th>
                       <th>Status</th>
                       <th>Author</th>
                       <th style="width: 15%;">Aksi</th>
                   </tr>
               </thead>
               <tbody>
                {% for listPostsNews in ViewPostNews %}
                    <tr>
                       <td>{{ forloop.counter }}</td>
                       <td><a href="">{{ listPostsNews.posts_title }}</a></td>
                       <td>{{ listPostsNews.posts_date }}</td>
                       <td>{{ listPostsNews.category_id.categorys }} </td>
                       <td><span class="badge badge-info"><span class="fa fa-check-circle-o"></span> {{ listPostsNews.posts_status.upper }}</span></td>
                       <td><span class="badge badge-success"><span class="fa fa-user-circle-o"></span> {{ listPostsNews.user_id.full_name.title }}</span></td>
                       <td style="text-align: center;">
                        <a href="{% url 'cemarapapua_admin:viewupdateposts' listPostsNews.posts_id %}" class="btn btn-sm btn-outline btn-info pull-up ">
                            <span class="fa fa-edit"></span>
                        </a>
                        <a href="{% url 'cemarapapua_admin:detailpostsberita' listPostsNews.posts_id %}" class="btn btn-sm btn-outline btn-primary pull-up ">
                            <span class="fa fa-eye"></span></a>
                        <a href="{% url 'cemarapapua_admin:delpostsberita' listPostsNews.posts_id %}" class="btn btn-sm btn-outline btn-danger pull-up " onclick="return confirm('Anda yakin mau menghapus berita ini?');">
                                <span class="fa fa-times"></span></a>
                       </td>
                   </tr>
                {% endfor %}                   
               </tbody>
             </table>
           </div>
       </div>
       <!-- /.box-body -->
     </div>
     <!-- /.box -->        
   </div>
</div>


{%  endblock %}
