{% extends "frontend/index.html" %}
{% load static %}

{% block content %}
<div class="support-company-area pt-100 pb-100 section-bg fix" style="background-color: black;">
    <div class="container" style="background-color: black;">
        <div class="row align-items-center" style="background-color: black;">
            <div class="col-xl-6" style="background-color: black;">
                <div class="right-caption" style="background-color: black;">
                    <!-- Section Tittle -->
                    <div class="section-tittles section-tittles2 mb-50">
                        <span>Tentang Kami</span>
                        <h2>Cemara Papua</h2>
                    </div>
                    <div class="support-caption">
                        <p>
                            Cerita Masyarakat Papua disingkat menjadi Cemara Papua adalah sebuah portal berita online yang menyajikan informasi berita dibidang Hukum, Politik, pendidikan, gereja, budaya , Pemerintahan dan Sosial.
                        </p>
                        <p>
                            Media ini dikelolah oleh anak muda Papua melalui Yayasan Kasih Bapa Dogiyai ( Yakbado ). 
                        </p>
                        <p>
                            Kehadiran  media online ini hanya terlahir dari kepedulian tentang mengangkat cerita - cerita masyarakat.
                        </p>
                        <p>
                            Harapan kami, cemarapapua.com akan membantu publik dalam mendapatkan informasi secara lengkap, jelas dan beretika karena cemarapapua.com adalah aspirasi rakyat.
                        </p>
                        <p>
                            Redaksi .
                        </p>

                        <a href="#" class="btn post-btn ">Index Berita</a>
                   

                        
                    </div>
                </div>
                
                <!-- <div class="support-location-img"> -->
                    <!-- <img src="{% static 'frontend/img/gallery/about.png' %}" alt=""> -->
                    <!-- <img src="{% static 'frontend/img/logo/logo.png' %}" alt=""> -->
                <!-- </div> -->
            </div>
            <div class="col-md-2"></div>
            <div class="col-xl-4">
                
                <div style="margin-right: 100px;">
                   
                        <h3 style="color: blanchedalmond;">Tim Redaksi</h3>
                    <p style="color: white;">1. Penasehat
                            <br>Pdt. Benny Giay
                            <br>Pdt. Obeth Magai
                            <br>Pdt. Mordekai Oilah
                            <br>Medex Pakage
                            <br>Yones Douw<br>
                            
                       <br>2. Penanggung jawab
                           <br>Ones Yobee<br>
                        <br>3. Pimpinan Redaksi
                        <br>Agustinus Tebai<br>
                        <br>Wakil Pimpinan 
                        <br>Nomen Douw<br>
                        <br>5. Staff/Kontributor
                        <br>Philemon Keiya
                        <br>Vitalis Goo
                        <br>Ones Yobee
                        <br>Andri Yeimo
                        <br>Yance Agapa
                        <br>Daud Agapa<br>
                        <br>6. Editor
                        <br>Agustinus Tebai
                        <br>Nomen Douw
                        <br>Vitalis Goo<br>
                       
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-details section-padding30">
    <div class="container">
        
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Kontak Kami</h4>
                    <p>cemarapapua.com akan membantu publik dalam mendapatkan informasi secara lengkap, jelas dan beretika karena cemarapapua.com adalah aspirasi rakyat.
                        </p>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Moenamani, Dogiyai.</h3>
                            <p>Papua, 98862</p>
                        </div>
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                      
                            <h3>+62 8xx-xxx-xxx</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>cemarapapuanews@gmail.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}