{% extends "frontend/index.html" %}
{% load static %}

{% block content %}
<main>
    <div class="support-company-area pt-100 pb-100 section-bg fix" style="background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="section-tittles section-tittles2 mb-50">
                        <span>Tentang Kami</span>
                        <h2>Cemara Papua</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top" style="color: white;" align='justify'>Cerita Masyarakat Papua disingkat menjadi Cemara Papua adalah sebuah portal berita online yang menyajikan informasi berita dibidang Hukum, Politik, pendidikan, gereja, budaya , Pemerintahan dan Sosial.</p>
                        <p style="color: white;">Media ini dikelolah oleh anak muda Papua melalui Yayasan Kasih Bapa Dogiyai ( Yakbado ). </p>
                        <p style="color: white;">Kehadiran  media online ini hanya terlahir dari kepedulian tentang mengangkat cerita - cerita masyarakat. </p>
                        <p style="color: white;">Harapan kami, cemarapapua.com akan membantu publik dalam mendapatkan informasi secara lengkap, jelas dan beretika karena cemarapapua.com adalah aspirasi rakyat. </p>
                        
                        <a href="#" class="btn post-btn ">INDEX BERITA</a>

                        <div class="section-tittles section-tittles2 mb-50" style="padding-top: 100px;">
                            <span>Kontak Kami</span>
                            <h2>Hubungi Cemara Papua</h2>
                        </div>
                        <div class="support-caption">
                            <div class="row">
                                <div class="col-md-12" style="color: white;"> cemarapapua.com akan membantu publik dalam mendapatkan informasi secara lengkap, jelas dan beretika karena cemarapapua.com adalah aspirasi rakyat.</div>
                            </div>
                            <div class="row" style="padding-top: 40px;">
                                <div class="col-md-4" >
                                     <p style="color: white;"><span class="fa fa-home"  style="color: red;"></span> <span style="color: red;">Alamat :</span> <br>  Moenamani, Dogiyai.Papua, 98862</p>
                                     
                                </div>
                                <div class="col-md-4" >
                                    <p style="color: white;"><span class="fa fa-phone" style="color: red;"></span> <span style="color: red;">Telp:</span> <br> +62 8xx-xxx-xxx</p> 
                                     
                                </div>
                                <div class="col-md-4">
                                    <p style="color: white;"><span class="fa fa-envelope" style="color: red;"></span> <span style="color:red;">Email :</span> <br> cemarapapuanews@gmail.com</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <div class="section-tittles section-tittles2 mb-50">
                            <span>Tim Redaksi</span>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">1. Penasehat</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Pdt. Benny Giay</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Pdt. Obeth Magai</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Pdt. Mordekai Oilah</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Medex Pakage</a>
                                <a href="#" class="list-group-item active">2. Penanggung jawab</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Ones Yobee</a>
                                <a href="#" class="list-group-item active">3. Pimpinan Redaksi</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Agustinus Tebai</a>
                                <a href="#" class="list-group-item active">4. Wakil Pimpinan</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Nomen Douw</a>
                                <a href="#" class="list-group-item active">5. Staff/Kontributor</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Philemon Keiya</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Vitalis Goo</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Philemon Keiya</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Ones Yobee</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Andri Yeimo</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Yance Agapa</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Daud Agapa</a>
                                <a href="#" class="list-group-item active">6. Editor</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Agustinus Tebai</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Nomen Douw</a>
                                <a href="#" class="list-group-item" style="color: white; background-color: #ffffff1c;">Vitalis Goo</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}