{% extends "frontend/index.html" %}
{% load static %}

{% block content %}

<section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
        {% for detailposts in ViewDetailPostNews %}
          <div class="col-lg-8 posts-list">
             <div class="single-post">
                <div class="feature-img">
                  <center>
                    <img class="img-fluid" src="{% static 'frontend/img/news_/' %}{{ detailposts.posts_img }}" alt="">
                  </center>
                   <!-- <label style="font-size: small;"><i>Ilustrasi. Menteri BUMN Erick Thohir menyebut biaya logistik Indonesia lebih mahal 11 persen dari dunia sehingga kurang dapat bersaing.(ANTARA FOTO/ADITYA PRADANA PUTRA)</i></label> -->
                </div>
                <div class="blog_details">
                   <h2>{{ detailposts.posts_title }}</h2>
                   <ul class="blog-info-link mt-3 mb-4">
                       <li><a href="#"><i class="fa fa-user"></i>{{detailposts.user_id.full_name}}</a></li>
                      <li><a href="#"><i class="fa fa-tag"></i> {{ detailposts.category_id }}</a></li>
                      <li><a href="#"><i class="fa fa-calendar"></i> {{ detailposts.posts_date }}</a></li>
                   </ul>
                    {% autoescape off %}
                   {{ detailposts.posts_desc }}
                   {% endautoescape %}
                </div>
             </div>
             <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   
                   <div class="col-sm-4 text-center my-2 my-sm-0">
                      <p class="comment-count"><span class="align-middle"><span class="fa fa-edit"></span> Penulis : {{ detailposts.user_id.full_name }}</p>
                   </div>
                   <ul class="social-icons">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                   </ul>
                </div>
                <!-- berita terikini -->
                
             </div>
        
             <div class="comments-area">
                <h4>05 Comments</h4>
                {% for ListCommentar in ViewCOmmentar %}
                <div class="comment-list">
                   <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                         <div class="thumb">
                            <!-- <img src="assets/img/comment/comment_3.png" alt=""> -->
                            <span class="fa fa-comments"></span>
                         </div>
                        
                         <div class="desc">
                            <p class="comment">
                               {{ ListCommentar.pesan }}
                            </p>
                            <div class="d-flex justify-content-between">
                               <div class="d-flex align-items-center">
                                  <h5>
                                     <a href="#"><span class="fa fa-user"></span> {{ ListCommentar.full_name }}</a>
                                  </h5>
                                  <p class="date">{{ ListCommentar.com_date }}</p>
                               </div>
                               <div class="reply-btn">
                                  <a href="#" class="btn-reply text-uppercase"><span class="fa fa-reply"></span> Balas</a>
                               </div>
                            </div>
                         </div>
                      
                      </div>
                   </div>
                </div>
                {% endfor %}
             </div>
             <div class="weekly2-news-area pt-50 pb-30 gray-bg">
              <div class="container">
                  <div class="weekly2-wrapper">
                     
                      <div class="row">
      
                          <div class="col-lg-12">
                              <div class="slider-wrapper">
                                  <!-- section Tittle -->
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="small-tittle mb-30">
                                              <h4>Berita Terkait</h4>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Slider -->
                                  <div class="row">
                                      <div class="col-lg-12">
                                        <div class="weekly2-news-active d-flex">
                                            <!-- Single -->
                                            {% for listBeritaTerkait in beritaTerkait %}
                                              <div class="weekly2-single">
                                                  <div class="weekly2-img">
                                                      <img src="{% static 'frontend/img/news_/' %}{{ listBeritaTerkait.posts_img }}" alt="" width="202" height="133">
                                                      <p align='justify' style="font-size: 12px;">{{listBeritaTerkait.user_id.full_name}}  | {{listBeritaTerkait.posts_date}} </p>
                                                  </div>
                                                  <div class="weekly2-caption">
                                                      <span style="background-color: #14f8e9; padding: 3px; border-radius: 2px; font-size: small;"><b>{{listBeritaTerkait.category_id.categorys}}</b></span>
                                                      <h4><a href="{% url 'cemarapapua_front:detailposts' listBeritaTerkait.posts_id %}">{{listBeritaTerkait.posts_title}}</a></h4>
                                                      
                                                  </div>
                                              </div> 
                                            {% endfor %}
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>  
             <div class="comment-form">
                <h4>Leave a Reply</h4>
                <form class="form-contact comment_form" action="#" id="commentForm">
                   <div class="row">
                      <div class="col-12">
                         <div class="form-group">
                            <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                               placeholder="Write Comment"></textarea>
                         </div>
                      </div>
                      <div class="col-sm-6">
                         <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                         </div>
                      </div>
                      <div class="col-sm-6">
                         <div class="form-group">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                         </div>
                      </div>
                      <div class="col-12">
                         <div class="form-group">
                            <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                         </div>
                      </div>
                   </div>
                   <div class="form-group">
                      <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                   </div>
                </form>
             </div>
             
          </div>
          {% endfor %}
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget search_widget">
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Search Keyword'">
                                <div class="input-group-append">
                                    <button class="btns" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit">Search</button>
                    </form>
                </aside>
                <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title">Kategori</h4>
                  <ul class="list cat-list">

                    {% for categoryNews in dataJumlahKategori %}
                        <li>
                            <a href="#" class="d-flex">
                                <p>{{ categoryNews.categorys }}</p>
                                <p>&nbsp;({{categoryNews.count_post}})</p>
                            </a>
                        </li>
                    {% endfor %}

                  </ul>
              </aside>
                <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">Terpopuler</h3>
                          {% for dataTerpopuler in databeritaTerpopulerView %}
                              <div class="media post_item">
                                  <img src="{% static 'frontend/img/news_/' %}{{ dataTerpopuler.posts_img }}" alt="post" width="80px" height="80px">
                                  <div class="media-body">
                                      <a href="{% url 'cemarapapua_front:detailposts' dataTerpopuler.posts_id %}">
                                          <h3>{{ dataTerpopuler.posts_title }}</h3>
                                      </a>
                                      <p>{{ dataTerpopuler.posts_date }}</p>
                                  </div>
                              </div>
                          {% endfor %}
                </aside>

                <aside class="single_sidebar_widget popular_post_widget">
                  <h3 class="widget_title">Firman Tuhan</h3>
                  {% for dataListFirtu in dataFirtuView %}
                  <div class="media post_item">
                      <!-- <img src="{% static 'frontend/img/news_/' %}{{ dataTerpopuler.posts_img }}" alt="post" width="80px" height="80px"> -->
                      <div class="media-body">
                          <a href="#">
                              <h3>{{ dataListFirtu.firtu_title }}</h3>
                          </a>
                           <!-- {% autoescape off %} -->
                          {{ dataListFirtu.firtu_desc|slice:":255"}}
                          <!-- {% endautoescape %} -->
                      </div>
                  </div>
                  {% endfor %}
              </aside>
                
            </div>
        </div>
       </div>
    </div>
 </section>

{% endblock %}