{% extends "frontend/index.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding" style="padding-top: 10px;">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
            <div class="blog_left_sidebar">
                    {% for listEkonomi in dataVberitaekonomi  %}

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ listEkonomi.posts_img|generate_thumbnail }}" alt="" width="" height="380">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'cemarapapua_front:detailposts' listEkonomi.posts_id %}">
                                <h2>{{ listEkonomi.posts_title }}</h2>
                            </a>
                             <!-- {% autoescape off %} -->
                                {{ listEkonomi.posts_desc|slice:":255"}}
                             <!-- {% endautoescape %} -->
                             <a href="{% url 'cemarapapua_front:detailposts' listEkonomi.posts_id %}" style="background-color:rgb(9, 236, 122) ; padding: 5px; border-radius: 5px;"><i><b>Baca Selanjutnya</b> </i></a>

                             <p>
                                Keyword:<span style="background-color:#f1efd7; border-radius: 2px;"><i> {{ listEkonomi.posts_keyword }}</i></span>
                             </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> {{ listEkonomi.user_id.full_name }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                <li><a href="#"><i class="fa fa-label"></i> {{ listEkonomi.category_id.categorys }}</a></li>
                                <li><a href="#"><i class="fa fa-calendar"></i> {{ listEkonomi.posts_date }}</a></li>
                            </ul>

                        </div>
                    </article>

                    {% endfor %}

                   

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
           
           
             <div class="weekly2-news-area pt-50 pb-30 gray-bg">
              <div class="container">
                  <div class="weekly2-wrapper">
                     
                      <div class="row">
      
                          <div class="col-lg-12">
                              <div class="slider-wrapper">
                                  <!-- section Tittle -->
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="small-tittle mb-30">
                                              <h4>Berita Terkait</h4>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Slider -->
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="weekly2-news-active d-flex">
                                              <!-- Single -->
                                              {% for listBeritaTerkait in beritaTerkait %}
                                                <div class="weekly2-single">
                                                    <div class="weekly2-img">
                                                        <img src="{{ listBeritaTerkait.posts_img|generate_thumbnail }}" alt="" width="202" height="133">
                                                        <p align='justify' style="font-size: 12px;">{{listBeritaTerkait.user_id.full_name}}  | {{listBeritaTerkait.posts_date}} </p>
                                                    </div>
                                                    <div class="weekly2-caption">
                                                        <span style="background-color: #14f8e9; padding: 3px; border-radius: 2px; font-size: small;"><b>{{listBeritaTerkait.category_id.categorys}}</b></span>
                                                        <h4><a href="{% url 'cemarapapua_front:detailposts' listBeritaTerkait.posts_id %}">{{listBeritaTerkait.posts_title}}</a></h4>
                                                        
                                                    </div>
                                                </div> 
                                              {% endfor %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>  
             
             
          </div>
          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                      <form action="#">
                          <div class="form-group">
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder='Search Keyword'
                                      onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Search Keyword'">
                                  <div class="input-group-append">
                                      <button class="btns" type="button"><i class="ti-search"></i></button>
                                  </div>
                              </div>
                          </div>
                          <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                              type="submit">Search</button>
                      </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                    <h4 class="widget_title">Kategori</h4>
                    <ul class="list cat-list">

                      {% for categoryNews in dataJumlahKategori %}
                          <li>
                              <a href="#" class="d-flex">
                                  <p>{{ categoryNews.categorys }}</p>
                                  <p>&nbsp;({{categoryNews.count_post}})</p>
                              </a>
                          </li>
                      {% endfor %}

                    </ul>
                </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Terpopuler</h3>
                            {% for dataTerpopuler in databeritaTerpopulerView %}
                                <div class="media post_item">
                                    <img src="{{ dataTerpopuler.posts_img|generate_thumbnail }}" alt="post" width="80px" height="80px">
                                    <div class="media-body">
                                        <a href="{% url 'cemarapapua_front:detailposts' dataTerpopuler.posts_id %}">
                                            <h3>{{ dataTerpopuler.posts_title }}</h3>
                                        </a>
                                        <p>{{ dataTerpopuler.posts_date }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                      
                  </aside>

                  <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">Firman Tuhan</h3>
                    {% for dataListFirtu in dataFirtuView %}
                    <div class="media post_item">
                        <!-- <img src="{% static 'frontend/img/news_/' %}{{ dataTerpopuler.posts_img }}" alt="post" width="80px" height="80px"> -->
                        <div class="media-body">
                            <a href="{% url 'cemarapapua_front:detailfirtu' dataListFirtu.firtu_id %}">
                                <h3>{{ dataListFirtu.firtu_title }}</h3>
                            </a>
                            <!-- <p>"{{ dataListFirtu.firtu_desc }}"</p> -->
                        </div>
                    </div>
                    {% endfor %}
                </aside>
                  
              </div>
          </div>
       </div>
    </div>
 </section>
 <!--================ Blog Area end =================-->
 {% endblock %}