{% extends "frontend/index.html" %}
{% load static %}
{% block content %}
<div class="about-area2 gray-bg pt-60 pb-60">
    <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <!-- <div class="about-img">
                            <img src="{% static 'frontend/img/trending/trending_top.jpg' %}" alt="">
                        </div> -->
                        <div class="heading-news mb-30 pt-30">
                            <h3>Daftar Firman Tuhan</h3>
                        </div>
                        {% for firtuView in dataFirtuView %}
                        <div class="about-prea" >
                            <div class="section-top-border" style="padding: 10px;">
                                <a href=""><h3 class="mb-30" style="margin-bottom: 15px; font-size: medium;"><span class="fa fa-book"></span> {{firtuView.firtu_title}}</h3></a>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <blockquote class="generic-blockquote" style="padding: 15px;">
                                            “
                                                {{firtuView.firtu_desc|slice:":255"}}
                                                <br><a href="" style="color: darkkhaki;"><span class="fa fa-eye"></span> Baca Selanjutnya</a>

                                            ”
                                        </blockquote>
                                        <div class="social-share pt-30" style="padding: 0px;">
                                            <div class="section-tittle">
                                                <h3 class="mr-20" style="font-size: medium;">Share:</h3>
                                                <ul>
                                                    <li><a href="#"><img src="{% static 'frontend/img/news/icon-ins.png' %}" alt=""></a></li>
                                                    <li><a href="#"><img src="{% static 'frontend/img/news/icon-fb.png' %}" alt=""></a></li>
                                                    <li><a href="#"><img src="{% static 'frontend/img/news/icon-tw.png' %}" alt=""></a></li>
                                                    <li><a href="#"><img src="{% static 'frontend/img/news/icon-yo.png' %}" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                      {% endfor %}
                      
                      <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Kategori</h4>
                            <ul class="list cat-list">
                                {% for categoryNews in dataJumlahKategori %}
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>{{ categoryNews.categorys }}</p>
                                        <p>&nbsp;({{categoryNews.count_post}})</p>
                                    </a>
                                </li>
                          {% endfor %}
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Terpopuler</h3>
                            {% for dataTerpopuler in databeritaTerpopulerView %}
                            <div class="media post_item">
                                <img src="{% static 'frontend/img/news_/' %}{{ dataTerpopuler.posts_img }}" alt="post" width="80px" height="80px">
                                <div class="media-body">
                                    <a href="detail_news.html">
                                        <h3>{{ dataTerpopuler.posts_title }}</h3>
                                    </a>
                                    <p>{{ dataTerpopuler.posts_date }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
    
                        
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% include 'frontend/kegiatan_terkait.html' %}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}