{% load static %}
<footer>

    <!-- Footer Start-->
    <div class="footer-main footer-bg">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo" >
                                    <a href="index.html"><img src="{% static 'frontend/img/logo/logo.png' %}" style="width: 110px;"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1" align='justify'>cemarapapua.com akan membantu publik dalam mendapatkan informasi secara lengkap,jelas dan beretika</p>
                                        <p class="info2">Phone: +62 852-2886-3507 Cell: +62 852-2886-3507</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h5 style="color: white;">Sosial Media Cemara Papua</h5>
                                <br>
                            </div>
                            <!-- Popular post -->
                            <div class="whats-right-single mb-20">
                                <div class="whats-right-img">
                                    <span class="fab fa-facebook-f" style="color: cornsilk; font-size: x-large;"></span>
                                </div>
                                <div class="whats-right-cap">
                                    <h4><a target="_blank" href="https://www.facebook.com/Cemara-Papua-News-104549358598314">Cemara Papua News </a></h4>
                                    <p>Fanspage  |  Facebook</p> 
                                </div>
                            </div>
                            <div class="whats-right-single mb-20">
                                <div class="whats-right-img">
                                    <span class="fab fa-instagram" style="color: cornsilk; font-size: x-large;"></span>
                                </div>
                                <div class="whats-right-cap">
                                    <h4><a target="_blank" href="https://www.instagram.com/cemarapapuanews/">Cemara Papua News </a></h4>
                                    <p>Instagram  |  Media Promosi</p> 
                                </div>
                            </div>
                            <div class="whats-right-single mb-20">
                                <div class="whats-right-img">
                                    <span class="fab fa-youtube" style="color: cornsilk; font-size: x-large;"></span>
                                </div>
                                <div class="whats-right-cap">
                                    <h4><a target="_blank" href="https://www.youtube.com/channel/UClOBcKJPoyJPRp6cAixHGjw">Cemara Papua News </a></h4>
                                    <p>Youtube  |  channel</p> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="banner">
                                <div class="footer-tittle">
                                    <h5 style="color: white;"><a href="" class="btn btn-lg">Index Konten</a></h5>
                                    <br>
                                    <div class="footer-pera">
                                        <ul>
                                            <li><a href="">Home</a></li>
                                            <li><a href="">Berita</a></li>
                                            <li><a href="">Gereja</a></li>
                                            <li><a href="">Pendidikan</a></li>
                                            <li><a href="">Galeri</a></li>
                                            <li><a href="">Tentang Kami</a></li>
                                            <li><a href="">Kontak Kami</a></li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | by <a href="https://cemarapapua.com" target="_blank" style="color: white;">Cemara Papua</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Search model Begin -->
<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Pencarian Berita">
        </form>
    </div>
</div>
<!-- Search model end -->