{% load static %}
{% block content %}
<div class="recent-articles pt-80 pb-80">
    <div class="container">
        <div class="recent-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Trending  News</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="recent-active dot-style d-flex dot-style">
                        <!-- Single -->
                        <div class="single-recent">
                            <div class="what-img">
                                <img src="{% static 'frontend/img/gallery/tranding1.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="#" > <h4><a href="detail_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4></a></h4>
                                <P>Jun 19, 2020</P>
                                <!-- <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><span class="flaticon-play-button"></span></a> -->
                                
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="single-recent">
                            <div class="what-img">
                                <img src="{% static 'frontend/img/gallery/tranding2.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="detail_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                <P>Jun 19, 2020</P>
                                <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><span class="flaticon-play-button"></span></a> -->
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="single-recent">
                            <div class="what-img">
                                <img src="{% static 'frontend/img/gallery/tranding1.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="detail_news.html"> <h4><a href="detail_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4></a></h4>
                                <P>Jun 19, 2020</P>
                                <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><span class="flaticon-play-button"></span></a> -->
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="single-recent">
                            <div class="what-img">
                                <img src="{% static 'frontend/img/gallery/tranding2.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="detail_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                <P>Jun 19, 2020</P>
                                <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><span class="flaticon-play-button"></span></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}