{% load static %}
{% block content %}
<div class="youtube-area video-padding d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-items-active">
                    <div class="video-items text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe  src="https://www.youtube.com/embed/4PEM5Z2VoU8" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen>
                            </iframe>
                          </div>
                        
                    </div>
                    <div class="video-items text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe  src="https://www.youtube.com/embed/4PEM5Z2VoU8" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen>
                            </iframe>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="video-info" style="padding-top: 10px;">
            <div class="row">
                <div class="col-12">
                    <div class="testmonial-nav text-center">
                        <div class="single-video" style="padding-right: 10px;">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe width="350" height="320" src="https://www.youtube.com/embed/4PEM5Z2VoU8" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen></iframe>
                                  </div>
                            <div class="video-intro">
                                    <h4>Old Spondon News - 2020 </h4>
                            </div>
                        </div>
                        <div class="single-video" style="padding-right: 10px;">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe width="350" height="320" src="https://www.youtube.com/embed/2v2py1-I17M" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen></iframe>
                                  </div>
                            <div class="video-intro">
                                <h4>Banglades News Video </h4>
                            </div>
                        </div>
                        <div class="single-video" style="padding-right: 10px;">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe width="350" height="320" src="https://www.youtube.com/embed/qkm8y7GpX3A" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen></iframe>
                                  </div>
                            <div class="video-intro">
                                <h4>Latest Video - 2020 </h4>
                            </div>
                        </div>
                        <div class="single-video" style="padding-right: 10px;">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe width="350" height="320" src="https://www.youtube.com/embed/O0ZZhPhm_nU" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen></iframe>
                                  </div>
                            <div class="video-intro">
                                <h4>Spondon News -2019 </h4>
                            </div>
                        </div>
                        <div class="single-video" style="padding-right: 10px;">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe width="350" height="320" src="https://www.youtube.com/embed/QD-OnsXw78k" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture "allowfullscreen></iframe>
                                  </div>
                            <div class="video-intro">
                                <h4>Latest Video - 2020</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}